#nav-bar {
    width: 100vw;
    height: 60px;
    background-color: rgb(15, 65, 108);
}

#nav-title {
    height: 80%;
    float: left;
    position: relative;
    color: white;
    left: 20px;
    top: -20px;
    font-size: 40px;
    font-weight: 700;
}
#nav-title:hover{
    cursor: grab;
}