#review-page {
    background-color: #073263;
    width: 100vw;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-card-display {
    height: 400px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
#review-card-display:hover{
    cursor: grab;
}

#review-buttons-div {
    position: relative;
    top: 250px;
}

#review-buttons-div > * {
    background-color: rgb(119, 152, 183);
    border: 0px;
    height: 50px;
    margin: 5px;
    font-family: inherit;
    font-size: 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 3px solid #03172b;
}

#review-exit-btn {
    width: 140px;
}

.review-direction-btn {
    width: 50px;
}
